[Unit]
Description=Rebase all installed distroboxes on their latest images
After=network-online.target
[Service]
Type=oneshot
ExecStart=/usr/bin/upgrade-all-distroboxes
